{% extends "base.html" %}

{% block title %}
    Musify
{% endblock %}

{% block content %}

    <section class="artist-section  border-violet flex">

        <div class="artist-section__sidebar sidebar">
            <div class="sidebar__breadcrum flex items-center mb-2r justify-center">
                <div class="breadcrum">
                    <img src="{{ url_for('static', filename='assets/images/icons/Back.svg') }}" alt="" class="back-option" >

                    <div class="breadcrum-content">
                        <a href="{{ url_for('index') }}" class="breadcrum-precedent">Home</a>
                        <img src="{{ url_for('static', filename='assets/images/icons/forward.svg') }}" alt="" class="next-option">
                        <a href="." class="breadcrum-current"> {{ artist["items"][0]["name"] }} </a>
                    </div>
                </div>
            </div>
            <h3 class="sidebar__group-title">
                All Albums
            </h3>
            {% for album in albums["items"] %}
                <form method="post" action="" class="sidebar__group" >
                    {{ album_form.hidden_tag() }}

                    <button class="sidebar__item sidebar__item">
                        <img src="./../static/assets/images/icons/discover.svg" alt="Discover button"
                        class="sitebar__item-img">
                        <span class="sidebar__item-content">{{ album["name"] }}</span>
                    </button>
                    {{ album_form.album_id(class="hidden", value=album['id']) }}
                </form>
            {% endfor %}
        </div>

        <div class="artist-section__main px-4">
            <div
            class="artist-section__artist-description artist-card-bio">

                <div class="artist-card__certification">
                    <img src="./../static/assets/images/icons/verified_artist.svg" alt="" class="artist-card__certification-img">
                    <p class="artist-card__certification-label">
                        Verified Artist
                    </p>
                </div>

                <h2 class="artist-card__artist-name">{{ artist["items"][0]["name"] }}</h2>

                <div class="artist-card__statistics">
                    <img src="./../static/assets/images/icons/earphone.svg" alt="earphone icon">
                    <p class="artist-card__listeners"> <span class="artist-card__listeners-number"> {{ artist["items"][0]["followers"]["total"] }} </span> Followers on Spotify</p>
                </div>

                <a class="artist-card__cta" href="{{ artist['items'][0]['external_urls']['spotify'] }}" > Discover on Spotify</a>

                <img src="{{ artist['items'][0]['images'][1]['url'] }}" alt="" class="artist-card__img">

            </div>

            <section class="artist-section__popular-release top-album-month py-4 my-4">
                <div
                class="top-album-month__header flex justify-between px-5 mb-4">
                    <h3
                    class="top-album-month-title text-xl font-semibold">
                        Top tracks of {{ artist["items"][0]["name"] }}
                    </h3>

                    <button
                    class="top-album-month-options font-medium text-pr-gray-200">
                        SEE ALL
                    </button>
                </div>

                <div class="top-album-month__card-container px-4r flex gap-10 flex-wrap">

                    {% for track in top_tracks %}
                        <div class="top-album-month__card track-card">
                            <img src="{{ track['album']['images'][1]['url'] }}" alt="track img"
                            class="track-card__img">

                            <div class="track-card__content">
                                <h3
                                class="track-card__title">
                                {{ track["album"]["name"] }}
                            </h3>
                            <p
                                class="track-card__desc">
                                {{ artist["items"][0]["name"] }}
                            </p>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </section>
        </div>

    </section>

{% endblock %}