<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <!-- Load FontAwesome icons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
        <link rel="icon" href=" {{ url_for('static', filename='assets/images/logo/big.png') }}">
        <!-- <link rel="icon" href=" {{ url_for('static', filename='assets/images/logo/bigfavicon.png') }}"> -->
        <link rel="stylesheet" href=" {{ url_for('static', filename='/styles/output.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>
    <body class="bg-maroon p-4 text-white font-raleway">

        <header
        class="header  flex justify-between items-center mb-4">

            <a href=" {{ url_for('index') }} ">
                <img src=" {{ url_for('static', filename='assets/images/logo/white_musify-logo.svg') }}" alt="Logo of musify"
                class="header__logo">
            </a>

            <form action="" class="header__search_bar-form" method="post">
                {{ form.hidden_tag() }}
                {% if search_data %}
                    {{ form.search_field(class="search_bar", placeholder="Search for an artist...", value=search_data) }}
                {% else %}
                    {{ form.search_field(class="search_bar", placeholder="Search for an artist...") }}
                {% endif %}
                {{ form.submit(class="hidden") }}
            </form>

            <div>
                <button class=" header__cta py-3 px-6 bg-pr-green-800 rounded-4xl" data-link="My link" >Share</button>
            </div>
        </header>

        {% block content %}
        {% endblock %}

        <script src="{{url_for('static', filename='js/config.js')}}" ></script>
    </body>
</html>