{% extends "base.html" %}

{% block title %}
Album songs
{% endblock %}

{% block content %}

    <section class="artist-section items-start grid grid-cols-45x65">
        <div class="artist-section__main mx-4 px-4 items-start">
            <div class="artist-section__artist-description artist-card-bio">

                <div class="artist-card-bio__breadcrum mb-10" >
                    <div class="breadcrum">

                        <a href="" class="back-option">
                            <img src="{{ url_for('static', filename='assets/images/icons/Back.svg') }}" alt=""class="" >
                        </a>

                        <div class="breadcrum-content">
                            <a href="{{ url_for('index') }}" class="breadcrum-precedent">Home</a>
                            <img src=" {{ url_for('static', filename='assets/images/icons/forward.svg') }}" alt="" class="next-option">
                            <a href="#" class="breadcrum-current"> {{ album["artists"][0]["name"] }} </a>
                        </div>
                    </div>
                </div>

                <div class="artist-card__certification">
                    <img src="{{ url_for('static', filename='assets/images/icons/verified_artist.svg') }}" alt="" class="artist-card__certification-img">
                    <p class="artist-card__certification-label">
                        Verified Artist
                    </p>
                </div>

                <h2 class="artist-card__artist-name">{{ album["artists"][0]["name"] }}</h2>

                <div class="artist-card__statistics">
                    <img src=" {{ url_for('static', filename='assets/images/icons/earphone.svg') }} " alt="earphone icon">
                    <p class="artist-card__listeners"> <span class="artist-card__listeners-number __album-name">{{ album["name"] }}</span> </p>
                </div>

                <img src="{{ album['images'][0]['url'] }}" alt="" class="artist-card__img">

            </div>

            <div
            class="artist-song__container gap-4 h-24 overflow-auto grid my-4 py-4">

                {% for song in album["tracks"]["items"] %}
                    <div class="artist-song" 
                    data-spotify-url="{{ song['external_urls']['spotify'] }}" 
                    data-song-name=" {{ song['name'] }}" 
                    data-preview-url="{{ song['preview_url'] }}">
                
                        <div class="artist-song__content"
                        data-spotify-url="{{ song['external_urls']['spotify'] }}" 
                        data-song-name=" {{ song['name'] }}" 
                        data-preview-url="{{ song['preview_url'] }}">
            
                            <p class="artist-song__number"
                            data-spotify-url="{{ song['external_urls']['spotify'] }}" 
                            data-song-name=" {{ song['name'] }}" 
                            data-preview-url="{{ song['preview_url'] }}">
                            {{ song["track_number"] }}</p>
                            
                            <img src="{{ album['images'][2]['url'] }}" class="artist-song_img"
                            data-spotify-url="{{ song['external_urls']['spotify'] }}" 
                            data-song-name=" {{ song['name'] }}" 
                            data-preview-url="{{ song['preview_url'] }}"
                            alt="An artist song">
                        
                            <p class="artist-song__name"
                            data-spotify-url="{{ song['external_urls']['spotify'] }}" 
                            data-song-name=" {{ song['name'] }}" 
                            data-preview-url="{{ song['preview_url'] }}">
                                {{ song["name"] }}
                            </p>
                        </div>

                        <p class="artist-song__duration">{{ song["duration_ms"] | music_time }}</p>
                        
                        <img src=" {{ url_for('static', filename='assets/images/icons/dots.svg') }}" alt="Three dots" class="artist-song__more-options">
                    </div>
                {% endfor %}

            </div>
        </div>

        <div class="artist_records rounded p-2 flex-col gap-2 bg-pr-black-600">
            <div class="displayed-song-presentation">
                <img src="{{ album['images'][0]['url'] }}" alt="" class="artist_records__b-album-cover">

                <div class="displayed-song-presentation__content"> 
                    <div class="displayed-song-presentation__infos">
                        <h3 class="displayed-song-presentation__title">
                            {{ album["tracks"]["items"][0]["name"] }}
                        </h3>
                        <p class="displayed-song-presentation__artist {{ album['external_urls']['spotify'] }}">{{ album["artists"][0]["name"] }}</p>
                    </div>

                    <a class="displayed-song-representation__discover-btn"
                        href="#">
                        Discover
                    </a>
                </div>
            </div>


            <div class="audio-player">
                <audio
                        class="audio-player__song"
                        src="{{ album['tracks']['items'][0]['preview_url'] }}"  >
                </audio>
                <p class="audio-player__error"></p>
                <div class="audio-player__durations">
                    <span class="audio-player__current-duration">
                    </span>
                    <input type="range" min="1" max="100" value="1"
                    class="audio-player__seek-slider">
                    <span class="audio-player__total-duration">
                    </span>
                </div>

                <div class="audio-player__track-buttons">

                    <button class="audio-player__play_pause">
                        <i class="fa fa-play-circle fa-5x"></i>
                    </button>

                </div>

                <div class="audio-player__volume">
                    <i class="fa fa-volume-down"></i>
                    <input type="range" min="1" max="100" value="40"
                    class="audio-player__volume_slider">
                    <i class="fa fa-volume-up"></i>
                </div>

            </div>


<!--            <div class="artist-tours tours">-->
<!--                <div class="tours-header">-->
<!--                    <h3 class="tours-header__title">On tour</h3>-->
<!--                    <button class="tours-header__show-all-btn">Show all</button>-->
<!--                </div>-->

<!--                <div class="tours__container">-->
<!--                    <div class="tours__item">-->
<!--                        <div class="tours__date-box">-->
<!--                            <span class="tours__day">6</span>-->
<!--                            <span class="tours__month">Sep</span>-->
<!--                        </div>-->
<!--                        <div class="tours__informations">-->
<!--                            <h4 class="tours__localisation">Turin</h4>-->
<!--                            <p class="tours__artist-name">Ed sheeran</p>-->
<!--                            <p class="tours__desc">-->
<!--                                <span class="tours__date-hours">Sat 8:30 PM</span>-->
<!--                                <span class="tours__place">Piazza San Carlo</span>-->
<!--                            </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </section>

    <script src="{{url_for('static', filename='js/sidebar.js')}}" ></script>
    <script src="{{url_for('static', filename='js/audio_player.js')}}" ></script>

{% endblock %} 